<form method="post" action="{{ path('inscription_event_delete', {'id': inscription_event.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ inscription_event.id) }}">
    <button class="btn">Delete</button>
</form>
