{% extends 'base.html.twig' %}

{% block title %}New reservation {% endblock %}

{% block body %}
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">New </h1>
        </div>
        <div class="row">

            {{ include('reserver/_form.html.twig') }}

        </div>
    </div>
{% endblock %}

