{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-3 swMain"></div>
        <div class="col-md-6 swMain">
            <div class="row">
                <div  class="col-md-12">
                        <legend>
                            Ajouter Reservation
                        </legend>
                        {{ include('reserver/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>

{% endblock body %}