{% extends 'base.html.twig' %}

{% block title %}New ReservationMateriel{% endblock %}

{% block body %}
    <h1>Create new ReservationMateriel</h1>

    {{ include('reservation_materiel/_form.html.twig') }}

    <a href="{{ path('reservation_materiel_index') }}">back to list</a>
{% endblock %}
