{% extends 'base.html.twig' %}

{% block title %}New MaterialReservation{% endblock %}

{% block body %}
    <h1>Create new MaterialReservation</h1>

    {{ include('material_reservation/_form.html.twig') }}

    <a href="{{ path('renting') }}">back to list</a>
{% endblock %}
