{% extends 'base.html.twig' %}

{% block title %}New Subject Response{% endblock %}

{% block body %}
    <h1>Create new Subject Response</h1>

    {{ include('forum/subject_response/_form.html.twig') }}

    <a href="{{ path('forum') }}">back to list</a>
{% endblock %}
