{% extends 'base.html.twig' %}

{% block title %}Edit Subject{% endblock %}

{% block body %}
    <h1>Edit Subject</h1>

    {{ include('forum/subject/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('forum') }}" >back to list</a>

    {{ include('forum/subject/_delete_form.html.twig') }}
{% endblock %}
